footer {
    background-color: #f0ad4e;
    margin-top: 10vw;
    padding: var(--mobile-margin);
}

.form-control {
    width: 100%;
    border-right: none;
}

.input-group-text img {
    width: 16px;
}

.input-group-text {
    background-color: white;
    border-left: none;
}

.subscribe {
    font-size: 16px;
}


@media (min-width: 426px) {
    footer {
        padding-top: 5vw;
        padding-bottom: 5vw;
        flex-direction: row;
        padding-left: var(--desktop-margin);
        padding-right: var(--desktop-margin);
        margin-top: 5vw;
        justify-content:  space-between;
        align-items: flex-start;
    }
    
    .bottom {
        display: flex;
        flex-direction: column;
        max-width: 40vw;
    }
    
}